# Virtual environment
env/
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Environment variables
.env

# Static/media (optional, if you use cloud storage in production)
staticfiles/
media/
